<div class="parent">
  <!-- <script type="text/javascript" src="../../../node_modules/shake.js/shake.js"></script> -->
<!--
  <img src="http://localhost:8000/media/shake-720x1280.png" alt="Can't load this image" >
-->
  <img src="../../assets/shake-720x1280.png" alt="Can't load this image" class="bg-img">
  <img src="../../assets/shake-phone.gif" class="over-img">

  <!-- <button (click)="onClickLeft()">left</button> -->
  <!-- <button (click)="onClickShake()">shake</button> -->
  <!-- <button (click)="onClickRight()">right</button> -->

</div>