
.parent{
    position: relative;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.buttons {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 5%;
}

.button {
    margin-bottom: 20px;
    width: 30%;
    height: 40px;
    background-image: url('../../assets/H5/Button_Eng_Cn.png');
    background-repeat:no-repeat;
    background-size: 100%;
    border-style: none;
    background-color: transparent;
    color: Black;
}