
.parent{
    position: relative;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.button {
    width: 30%;
    height: auto;
}