<div class="parent">  
  <!--
  <img src="http://localhost:8000/media/background-720x1280.png" alt="Can't load this image" class="bg-img">  
  <img src="http://localhost:8000/media/welcome-button-200x200.gif" alt="entry.gif" class="over-img">
  -->
  <img src="../../assets/background-720x1280.png" alt="Can't load this image" class="bg-img">  
  <img src="../../assets/welcome-button-200x200.gif" alt="entry.gif" class="over-img">

  <button class="transparent-over-button" (click)="onClickEntry()"></button>
</div>

<p *ngIf="deviceStat">Device is offline</p>