<div class="parent">
  <!-- <img src="../../assets/H5/3-05.png" class="background" alt="Can't load this image"> -->
  <div class="big-font">
    <div>
      THIS IS A CHANGCE TO BE HEARD SO....
    </div>
    <div style="padding-top: 5%">WHAT'S THE WORD?</div>
  </div>
  <div class="small-font">Select the icon that describes</div>
  <div class="small-font">best who you think you are!</div>
  <div class="footer">
    <img src="../../assets/PNG Assets H5/Logos/DreamOn_Footer_Logo_JJ_Col_Butterfly_Hor.png" alt="Can't load this image">
  </div>
</div>
