<div class="arrow">
    <img src="../../assets/H5/arrow.png" alt="Can't load this image" name="canvas">
</div>
<div class="bg"> 
    <div class="fixed">
        <img src="../../assets/H5/FerrisWheel.png" alt="Can't load this image" name="canvas">         
    </div>
    <!-- <p>{{tmpLog}}</p>
    <p>{{tmpLog1}}</p>
    <p>{{tmpLog2}}</p> -->
    <div *ngIf="languageFlag === 'ch'" style="margin-top: 20%; font-size: 20px">请分享这个梦幻之旅吧！</div>
    <div *ngIf="languageFlag === 'en'" style="margin-top: 20%; font-size: 20px">PLEASE SHARE THE DREAM!</div>
</div>

