<div class="bg">  
    <div style="text-align: right; padding: 10px;">
        <img style="width: 30px; height:auto" src="../../assets/H5/arrow-19.png" alt="Can't load this image"> 
    </div>
    <div class="fixed">
        <img src="../../assets/H5/FerrisWheel.png" alt="Can't load this image"> 
    </div>
    <!-- <p>{{tmpLog}}</p>
    <p>{{tmpLog1}}</p>
    <p>{{tmpLog2}}</p> -->
    <div *ngIf="languageFlag === 'ch'" style="margin-top: 15%; font-size: 20px">请分享这个梦幻之旅吧！</div>
    <div *ngIf="languageFlag === 'en'" style="margin-top: 15%; font-size: 20px">PLEASE SHARE THE DREAM!</div>
</div>
