<div class="parent">
  <table>
    <tr>
      <td class="left-col">
        <img *ngIf="highlightIcon !== 0" src="../../assets/PNG Assets H5/Category Icons/Diamond_Icon_Col.png" (click)="onClickDiamond()">
        <img *ngIf="highlightIcon === 0" src="../../assets/PNG Assets H5/Category Icons/Diamond_Icon_Wht.png" (click)="onClickDiamond()">
      </td>
      <td class="right-col">
        <img *ngIf="highlightIcon !== 1" src="../../assets/PNG Assets H5/Category Icons/GameBoy_Icon_Col.png" (click)="onClickGameBoy()">
        <img *ngIf="highlightIcon === 1" src="../../assets/PNG Assets H5/Category Icons/GameBoy_Icon_Wht.png" (click)="onClickGameBoy()">
      </td>
    </tr>
    <tr>
      <td class="left-col">
        <img *ngIf="highlightIcon !== 2" src="../../assets/PNG Assets H5/Category Icons/AirPlane_Icon_Col.png" (click)="onClickAirPlane()">
        <img *ngIf="highlightIcon === 2" src="../../assets/PNG Assets H5/Category Icons/AirPlane_Icon_Wht.png" (click)="onClickAirPlane()">
      </td>
      <td class="right-col">
        <img *ngIf="highlightIcon !== 3" src="../../assets/PNG Assets H5/Category Icons/Heart_Icon_Col.png" (click)="onClickHeart()">
        <img *ngIf="highlightIcon === 3" src="../../assets/PNG Assets H5/Category Icons/Heart_Icon_Blk.png" (click)="onClickHeart()">
      </td>
    </tr>
    <tr>
      <td class="left-col">
        <img *ngIf="highlightIcon !== 4" src="../../assets/PNG Assets H5/Category Icons/Saturn_Icon_Col.png" (click)="onClickSaturn()">
        <img *ngIf="highlightIcon === 4" src="../../assets/PNG Assets H5/Category Icons/Saturn_Icon_Wht.png" (click)="onClickSaturn()">
      </td>
      <td class="right-col">
        <img *ngIf="highlightIcon !== 5" src="../../assets/PNG Assets H5/Category Icons/Cat_Icon_Col.png" (click)="onClickCat()">
        <img *ngIf="highlightIcon === 5" src="../../assets/PNG Assets H5/Category Icons/Cat_Icon_Wht.png" (click)="onClickCat()">
      </td>
    </tr>
  </table>
  <div class="footer">
      <img src="../../assets/PNG Assets H5/Logos/DreamOn_Footer_Logo_JJ_Col_Butterfly_Hor.png" alt="Can't load this image">
  </div>
</div>
