<div class="parent">
  <table>
    <tr>
      <td class="left-col">
        <img [hidden]="highlightIcon === 0" src="../../assets/PNG Assets H5/Category Icons/Diamond_Icon_Col.png" (click)="onClickDiamond()">
        <img [hidden]="highlightIcon !== 0" src="../../assets/PNG Assets H5/Category Icons/Diamond_Icon_Wht.png" (click)="onClickDiamond()">
        <div></div>
      </td>
      <td class="right-col">
        <img [hidden]="highlightIcon === 1" src="../../assets/PNG Assets H5/Category Icons/GameBoy_Icon_Col.png" (click)="onClickGameBoy()">
        <img [hidden]="highlightIcon !== 1" src="../../assets/PNG Assets H5/Category Icons/GameBoy_Icon_Wht.png" (click)="onClickGameBoy()">
        <div></div>
      </td>
    </tr>
    <tr>
      <td class="left-col">低调星人</td>
      <td class="right-col">游戏爱好者</td>
    </tr>
    <tr>
      <td class="left-col">
        <img [hidden]="highlightIcon === 2" src="../../assets/PNG Assets H5/Category Icons/AirPlane_Icon_Col.png" (click)="onClickAirPlane()">
        <img [hidden]="highlightIcon !== 2" src="../../assets/PNG Assets H5/Category Icons/AirPlane_Icon_Wht.png" (click)="onClickAirPlane()">
      </td>
      <td class="right-col">
        <img [hidden]="highlightIcon === 3" src="../../assets/PNG Assets H5/Category Icons/Heart_Icon_Col.png" (click)="onClickHeart()">
        <img [hidden]="highlightIcon !== 3" src="../../assets/PNG Assets H5/Category Icons/Heart_Icon_Blk.png" (click)="onClickHeart()">
      </td>
    </tr>
    <tr>
      <td class="left-col">旅行达人</td>
      <td class="right-col">寻找真爱</td>
    </tr>
    <tr>
      <td class="left-col">
        <img [hidden]="highlightIcon === 4" src="../../assets/PNG Assets H5/Category Icons/Saturn_Icon_Col.png" (click)="onClickSaturn()">
        <img [hidden]="highlightIcon !== 4" src="../../assets/PNG Assets H5/Category Icons/Saturn_Icon_Wht.png" (click)="onClickSaturn()">
      </td>
      <td class="right-col">
        <img [hidden]="highlightIcon === 5" src="../../assets/PNG Assets H5/Category Icons/Cat_Icon_Col.png" (click)="onClickCat()">
        <img [hidden]="highlightIcon !== 5" src="../../assets/PNG Assets H5/Category Icons/Cat_Icon_Wht.png" (click)="onClickCat()">
      </td>
    </tr>
    <tr>
      <td class="left-col">逃离星球</td>
      <td class="right-col">铲屎官</td>
    </tr>
  </table>
  <div class="footer">
      <img src="../../assets/PNG Assets H5/Logos/DreamOn_Footer_Logo_JJ_Col_Butterfly_Hor.png" alt="Can't load this image">
  </div>
</div>
