<div class="parent">
  <!-- <img src="../../assets/H5/3-05.png" class="background" alt="Can't load this image"> -->
  <div *ngIf="languageFlag === 'ch'">
      <div class="big-font">
        <div>
          抓住这个了解你自己的机会，
        </div>
        <div style="padding-top: 5%">所以....是什么呢？</div>
      </div>
      <div class="small-font">选一个你认为最符合你人设的关键词吧</div>
  </div>
  <div *ngIf="languageFlag === 'en'">
      <div class="big-font">
        <div>
          THIS IS A CHANGCE TO BE HEARD SO....
        </div>
        <div style="padding-top: 5%">WHAT'S THE WORD?</div>
      </div>
      <div class="small-font">Select the icon that describes</div>
      <div class="small-font">best who you think you are!</div>
  </div>
  <div class="footer">
    <img src="../../assets/PNG Assets H5/Logos/DreamOn_Footer_Logo_JJ_Col_Butterfly_Hor.png" alt="Can't load this image">
  </div>
</div>
