<div class="parent"> 
    <div class="box">
        <img src="../../assets/PNG Assets H5/Postcards/Card_Corners-01.png" />
    </div>
    <img *ngIf="id === 1" src="../../assets/PNG Assets H5/Postcards/Cat_Postcard.png" />
    <img *ngIf="id === 2" src="../../assets/PNG Assets H5/Postcards/Game_Postcard.png" />
    <img *ngIf="id === 3" src="../../assets/PNG Assets H5/Postcards/Love_Postcard-01.png" />
    <img *ngIf="id === 4" src="../../assets/PNG Assets H5/Postcards/Money_Postcard.png" />
    <img *ngIf="id === 5" src="../../assets/PNG Assets H5/Postcards/Space_Postcard.png" />
    <img *ngIf="id === 6" src="../../assets/PNG Assets H5/Postcards/Travel_Postcard.png" />
    <!-- <div class="footer">
        <img src="../../assets/PNG Assets H5/Logos/DreamOn_Footer_Logo_JJ_Col_Butterfly_Hor.png" alt="Can't load this image">
    </div> -->
</div>
