.parent{
  position: relative;
  text-align: center;
  background-color: white;
  height: 100%;
}

.box {
  position: fixed;
  top: 100px;
}

.box img {
  width: 80%;
  height: auto;
}

.card {
  margin-top: 100px;
  width: 80%;
  height: auto;
}

.footer {
  width: 100%;
  height: 7%;
  position: fixed;
  bottom: 3%;
  text-align: center;
}

.footer img {
  height: 100%;
  width: auto;
}